body {
    background: #333333;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

input,
button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

input[type="checkbox"] {
    margin-bottom: 15px
}

.main-div,
.loggedin-div {
    width: 20%;
    margin: 0px auto;
    margin-top: 5vw;
    padding: 20px;
    display: none;
}

.main-div input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0083d8;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}

.main-div input[type="email"]:focus,
.main-div input[type="password"]:focus {
    width: 250px;
    border-color: #2ecc71;
}

.main-div img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.main-div h3 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 46px;
}

.main-div input:focus {
    border: 1px solid #777;
}

.main-div button,
.loggedin-div button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.main-div button:hover,
.loggedin-div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}

.loggedin-div {
    color: white;
}

#register {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: block;
    text-align: center;
    width: auto;
}


/* REGISTER */

.pass2 {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


/* Add a background color when the inputs get focus */

.pass2:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


/* REGISTER */

#cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */

#cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}


/* Add padding to container elements */

.container {
    padding: 16px;
    width: 90%;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #333333;
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 90%;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    #cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

.costumer {
    width: 150px;
    height: 120px;
}

#modal-signup {
    display: none;
}

#terms {
    color: dodgerblue;
}