<!DOCTYPE html>

<html>

<head>
    <title>chatbot</title>
    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons " rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>
    <script src="js/script.js"></script>

</head>

<body>

    <!-- Chat System -->

    <div ng-app="chat-app">
        <div class="messages" ng-controller="ChatCtrl as vm">
            <div id="row" class="row">
                <div class="container">
                    <div class="col s4 ">
                        <input type="text" ng-model="vm.name" class="form-control" placeholder="Name">
                    </div>
                    <div class="col s4">
                        <input type="text" ng-model="vm.message" class="form-control" placeholder="Message">
                    </div>
                    <div class="col s4 " style="margin-top:10px;">
                        <button class="btn btn-info" ng-disabled="!vm.message" ng-click="vm.saveMessage()">Send Message</button>
                    </div>
                </div>
            </div>
            <div class="row form-group white-text darken-1 container" ng-repeat="row in vm.messages">
                <div class="col s6"><span id="s6">{{row.name}}</span>: {{row.text}}</div>
            </div>
        </div>
    </div>

</body>

</html>