input,
button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

input[type="checkbox"] {
    margin-bottom: 15px
}

.main-div {
    width: 20%;
    margin: 0px auto;
    margin-top: 5vw;
    padding: 20px;
    /* display: none; */
}

.main-div input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0083d8;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}

.main-div input[type="email"]:focus,
.main-div input[type="password"]:focus {
    width: 250px;
    border-color: #2ecc71;
}

.main-div img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.main-div h3 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 46px;
}

.main-div input:focus {
    border: 1px solid #777;
}

.main-div button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.main-div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}

.costumer {
    width: 150px;
    height: 120px;
}